/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}


$thickness: 80px;


/* 2. Content ================================= */
.corner {
	position: absolute;
	background-color: red;
	width: $thickness;
	height: $thickness;

	&.corner-top {
		top: 0;
	}
	&.corner-left {
		left: 0;
	}
	&.corner-bottom {
		bottom: 0;
	}
	&.corner-right {
		right: 0;
	}
}

.side {
	position: absolute;
	width: $thickness;
	background-color: pink;
	height: calc(100vh - #{$thickness} - #{$thickness});
	top: $thickness;

	&.side-left {
		left: 0;
	}
	&.side-right {
		right: 0;
	}
}


.top-bottom {
	position: absolute;
	height: $thickness;
	background-color: lightpink;
	width: calc(100vw - #{$thickness} - #{$thickness});
	left: $thickness;

	&.top-bottom-top {
		top: 0;
	}
	&.top-bottom-bottom {
		bottom: 0;
	}
}